.swiper {
    width: 100%;
    max-width: 500px; /* Ограничиваем ширину слайдера */
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}
