.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cartProducts__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cart__actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}