.header {
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.wrapper__btns {
    display: flex;
    gap: 0.8rem;
}

.icons{
    width: 4rem;
}

.logo{
    width: 6rem;
}

